
@import 'parts/dashboard.css';
@import 'parts/dashheader.css';
@import 'parts/header.css';
@import 'parts/home.css';
@import 'parts/logreg.css';
@import 'parts/info.css';
@import 'parts/table.css';
@import 'parts/animatedbg.css';
@import 'parts/pop/subscribe.css';
@import 'parts/stepsAP.css';
@import 'parts/admin.css';
@import 'parts/adminDash.css';


:root{
    --lightgreen: lightgreen;
    --darkgreen: #00e472;
    --lightgray: #f0f0f0;
    --darkgray: #dbdbdb;
    --darkfont: #222831;
    --white: rgba(255, 255, 255, 0.541);
    --gradient: 230deg, #f073c8, #ff6a95;
    --warning: #ec0101;
    --darkwarning: #cd0a0a;
    /* background primary color */
    --bgp: #fffff;
    /* extra color */
    --pinky: #F073C8;
    --pinky2: #FF6A95;
    --pink: #f7498e;

    /* color for the table */
    --darkblue: #120e34 ;
    --lightblue: #3c376a;
    --meddleblue: #332e60;
    --meddledblue: #342e68;
    --fontblue: rgb(165, 185, 214);
    --whiteTableCC: #f2f2f2;
  }
  
*{
    outline: none;
    /* scroll-behavior: smooth; */
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    padding: 0;
}


body{
    width: 100%;
    margin: 0;
    padding: 0;
    background: var(--darkblue);

}


button:active,
button:hover,
button:visited,
button:focus
{
    outline: none;
    border: none;
}

.row{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    margin: auto;
}
@media (min-width: 1200px){
    .container{
        padding: 0;
        width: 100%;
        height: auto;
    }
}


/*
///////////
///////////
///////////// primary btn style
///////////
///////////
*/

.btn-primary{
    width: 100%;
    margin: auto;
    background: linear-gradient(90deg, #F073C8 0%, #FF6A95 99%);
    padding: 12px 20px;
    font-size: 1.2rem;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
    outline: none;
    border: none;
    box-shadow: none;
}
.btn-primary i{
    opacity: 0;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    background: linear-gradient(90deg, #FF6A95 0%, #F073C8 99%);
    transition: 0.3s;
    border-radius: 50px;
    outline: none;
    border: none;
    box-shadow: none;
}

.btn-primary:hover > i{
    transition: 0.2s;
    opacity: 1;
    margin-left: 20px;
}




/*
///////////
///////////
///////////// a h1 changes
///////////
///////////
*/

a{
    color: var(--darkfont);
}
a:hover{
    color: var(--whiteTableCC);
}
p{
    color: var(--whiteTableCC);
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--whiteTableCC);
}

/*
///////////
///////////
///////////// inputs changes
///////////
///////////
*/

input.middle:focus {
    outline-width: 0;
}
.form-control:focus {
    outline: none;
    border: none;
}

input:focus {
    outline: none;
}
input{
    outline: none;
}
input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

/*////////

    scrollbar 

////////*/
::-webkit-scrollbar{
    width: 6px;
    height: 0px;
    background: none;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 20px #3333;
}
::-webkit-scrollbar-thumb{
    background: var(--meddleblue);
    border-radius: 50px;
    box-shadow: 0 0 10px #ff0b6d;
}
