<div class="imer-info">
    <div class="alarm">
        <h1>In case you wish to not register!</h1>
        <p>User these information to explore the app!</p>
        <div class="u-a-part">
            <div class="user-info">
                <p class="admin-tt">Admin</p>
                <p>E-postadress: <span class="usw"> admin@test.com </span></p>
                <p>Lösenord: <span class="psw"> 123123</span></p>
            </div>
            <div class="user-info">
                <p class="user-tt">User</p>
                <p>E-postadress: <span class="usw"> user@test.com </span></p>
                <p>Lösenord: <span class="psw"> 123123</span></p>
            </div>
        </div>
    </div>
</div>