<div id="popUpWindow" style="display: none;" class="subscribe-widget-main-container">


    <div id="subscribe-widget-panel" class="subscribe-widget-panel" style="display: block; margin-right: 0px; opacity: 1;">
    
    
        <div class="widget-top">
    
            <div id="subscribe-widget-panel-close-btn" class="close-btn white"><i class="fas fa-times"></i></div>
    
            
            <p class="xs-font-size">DON’T MISS OUT THE LATEST</p>
            
            <h2 class="bold">Reminde me RED times</h2>
            
        </div>
        
        
        <div class="widget-bottom">
            <div id="subscribe-widget-error-message" class="subscribe-error-message" style="opacity: 0.5; color: lightcoral; margin-bottom: 1rem;">Please enter your email address.</div>
    
            <input id="subscribe-widget-email-input" class="border-input" type="email" placeholder="Enter your email address">
    
            <div id="subscribe-widget-subscribe-btn" class="pink-btn">Stay Inspired</div>
    
            <p class="info-text-grey">Or subscribe using</p>
    
            <div class="soc-btn-wrapper">
    
                <a href="https://twitter.com/PaKdel_1" id="subscribe-widget-g-btn" class="so-btn gg"><i class="fab fa-twitter"></i></a>
    
                <a href="https://www.behance.net/pakdelstudio" target="_blank" id="subscribe-widget-t-btn" class="so-btn tw"><i class="fab fa-behance"></i></a>
    
                <a href="https://www.youtube.com/channel/UCLXL7GBZMhDZv3GyfQZ2pDg?view_as=subscriber" target="_blank" id="subscribe-widget-f-btn" class="so-btn fa small"><i class="fab fa-youtube"></i></a>
    
            </div>
    
        </div>
    
    
    </div>
    
    <div id="subscribe-widget-outer-subscribe-btn" class="pink-btn rounded" style="opacity: 0; display: none;">Stay Inspired</div>
    </div>


    <script src="../apps/parts/pop.js"></script>