Admin dashboard

<a href="/admin/logout" class="btn btnBooklist btn-sm" id="logoutbtn"> Logout <i class="fas fa-long-arrow-alt-right"></i></a>



<h1><%= user.email%></h1>
<h1><%= user.Lastname%></h1>