<%- include('partiallink/animatedbg'); -%>
<%- include('partials/messages'); -%>
<div class="container-done">
    <h1>Thanks for your bookning!</h1>
    <p>Now, we have recived your appointment details.</p>
    
    <p></p>
    <div class="btnss">
        
        <a href="/" class="homeRedirect">Go to Home</a>
        <a href="/users/login" class="homeRedirect">Print Out the time</a>
        <a href="/" class="homeRedirect">Book another time </a>
        
    </div>

</div>

<style>
    .warning{
        color: var(--warning);
        text-align: center;
    }    
    .homeRedirect{
        background: var(--lightblue);
        /* background: linear-gradient(90deg, #F073C8 0%, #FF6A95 99%); */
        padding: 12px 20px;
        font-size: 1.2rem;
        color: white;
        border-radius: 5px;
        transition: 0.3s;
    }
    .homeRedirect:hover{
        background: var(--darkblue);
        transition: 0.3s;
        border-radius: 50px;
    }
    .container-done{
        text-align: center;
        color: var(--whiteTableCC);
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;

   }
   .container-done h1{
       color: var(--lightgreen);
       font-weight: 500;
   }

</style>