<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <!--  -->
        <!-- links -->
                      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
                      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
                      <!-- bootstrap -->
                      <link
                      rel="stylesheet"
                      href="https://bootswatch.com/4/journal/bootstrap.min.css"
                      />
                      <link rel="stylesheet" href="/styles/main.css">


                      <!-- live server runer -->
                      <script>
                      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
                      ':35729/livereload.js?snipver=1"></' + 'script>')
                      </script>

                      <!-- sweet alert -->



    <!-- title -->
    <title><%= (typeof title != "undefined" ? title : "") %></title>
    <link rel="icon" href="source/newvlogo.png" type="image/png">

  </head>
  <body>  
    <%- body %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
  </body>
</html>
