<%- include('partiallink/header'); -%>
<%- include('partiallink/animatedbg'); -%>
<%- include('partials/info'); -%>
<div class="login-container">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas"></i> Logga in</h1>
      <%- include('partials/messages'); -%>
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">Användernamn/E-postadress</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Lösenord</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Loga in <i class="fas fa-long-arrow-alt-right"></i></button>
      </form>
      <p class="lead mt-4">
        Inget konto? <a href="/users/register">Registerera</a>
        Admin? <a href="/admin">Admin</a>
        
      </p>
    </div>
  </div>
</div>
