
.each-list{
    background: var(--meddleblue);
    margin: 1rem 0;
    border-radius: 5px;
    padding: 1rem;
}
#existent{
    color: white;
}
.user-nr{
    color: white;
}

.bold{
    font-weight: 600;
    color: var(--whiteTableCC);
}
.user-dtl{
    color: #999;
}




.each-appns div{
    color: var(--whiteTableCC);
    font-weight: 200;
}


#adminDeleteBtn{
    position: absolute;
    right: 11%;
    bottom: 12%;
    color: white;
    background:var(--warning);
    padding: 1rem 2rem;
    border-radius: 50px;
    display: none;
    position: fixed;
}
#adminDeleteUserBtn{
    position: absolute;
    right: 11%;
    bottom: 12%;
    color: white;
    background:var(--warning);
    padding: 1rem 2rem;
    border-radius: 50px;
    display: none;
    position: fixed;
}



.admin-container {
    display: flex;
    flex-direction: column;
    height: 100%;

}
/*////////

    admin panel

////////*/

.admin-panel{
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*  panel buttons */

.ttls-data{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.styled{
    color: var(--whiteTableCC);
    margin: 5px;
    border-radius: 5px;
    background: none;
    padding: 0.5rem 1rem;
    border: none;
}

.styled:hover{
    background: var(--meddledblue);
}


/*  pamel items */

.data-collection{
    width: 100%;
    height: 70vh;
    top: 0;
    background: url(/source/adminIcon.svg)no-repeat var(--lightblue);
    display: flex;
    justify-content: flex-start;
    background-position: right;
    position: relative;
    overflow: scroll;
    border-radius: 5px;
    
}




.allappns{
    display: flex;
    width: 95%;
    height: 100%;
    margin: auto;
}
.alluser{
    display: flex;
    width: 95%;
    height: 100%;
    margin: auto;
}
.alluser form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    column-gap: 1rem;
    row-gap: 1rem;
}

.each-item{
    cursor: pointer;
    transition: 0.3s;
}
.each-list{
    border-top: 2px solid var(--meddleblue);
    transition: 0.3s;
    
}

.each-list:hover{
    box-shadow: 0 30px 30px -12px var(--darkblue);
    background: var(--meddledblue);
    transition: 0.3s;
}
.each-appns{
    background: var(--meddleblue);
    margin: 1rem 0;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
.each-appns:hover{
    box-shadow: 0 30px 30px -12px var(--darkblue);
    background: var(--meddledblue);
    transition: 0.3s;
}
.allappns form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(); 
    column-gap: 1rem;
    row-gap: 1rem;
}



/*////////

    meno bar (logo) (logout)

////////*/

.meno-admin{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin: auto;
}
.logout-men{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.logout-men a{
    color: white;
    background: var(--lightblue);
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
.logo-admin{
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.logo-admin a{
    display: flex;
    justify-content: flex-start;
}



.admin-logo img{
    width: 150px;
}

.mobile-menu{
    display: none;
}

@media only screen and (max-width: 667px){
    /* header */
    .meno-admin{
        display: none;

    }
    .mobile-menu{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
    /* admin menu links */

}
/*////////

    Default welcome page admin

////////*/

.welcomeAdmin{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: left;
}
.welcomeAdmin h1{
    margin-bottom: 1rem;
}
.infoa{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: var(--whiteTableCC);
    background: var(--meddleblue);
    padding: 1rem;

}





/*////////

    search bar

////////*/

.searchBtn i{
    display: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--whiteTableCC);
}
.searchMenu{
    position: absolute;
    top: 50%; 
    left: 50%; 
    height: 20%;
    transform: translate(-50%, -50%);
    z-index: 4;
    flex-direction: column;
    background: var(--meddleblue);
    padding: 1rem;
    display: none;
    border-radius: 5px;
    width: 95%;
    margin: auto;
}
.searchMenu label{
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    opacity: 0.6;
}
#searchInput{
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid var(--meddledblue);
    width: 100%;
    background: var(--lightblue);
    margin-bottom: 1rem;
    color: var(--whiteTableCC);
}
#searchInput:hover,
#searchInput:focus,
#searchInput:active{
    border-color: var(--lightblue);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.11);
}
#tosearch{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background: var(--lightblue);
    width: fit-content;
    display: flex;
    justify-content: flex-end;
}


/*////////

    Alladmin information

////////*/

.update-admin-container{
    width: 60%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.back-dash{
    top: 2%;
    position: absolute; 
    border-radius: 5px; 
    color: white;  
    background: var(--lightblue); 
    padding: 0.5rem 1rem;
    margin: 1rem;
}
.back-dash i{
    transform: rotate(180deg);
}
.alladmin{
    height: 40%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items:center;
    
}
.admin-info{
    flex-direction: column;
    
}
.current-admin-container{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}
.admin-infos{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--pink);
}
.btn-back-adminDash{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
}
.back_adminDash{
    background: var(--lightblue);
    color: var(--white);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
}
.addNewAdmin,
.editAdminInfo{
    background: var(--whiteTableCC);
    color: var(--meddleblue);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
}

.back_adminDash:hover,
.addNewAdmin:hover,
.editAdminInfo:hover
{
    text-decoration:none;
    background: var(--meddleblue);
    color: var(--whiteTableCC);
}


#current-admin-name{
    color: var(--pink);
}


.update-form-admin-info{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: var(--meddleblue);
    border-radius: 5px;
    width: 100%;
}
.update-form-admin-info div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.update-form-admin-info div label{
    margin-right: 1rem;
}
.update-form-admin-info div input{
    text-align: right;
}
.admin-info-input{
    padding: 0.4rem;
    font-weight: 400;
    color: var(--whiteTableCC);
    background: none;
    border: none;
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 0.5rem;
    border-radius: 5px;
    transition: 0.3s;
    width: 40%;
}

#save-admin-info{
    background: var(--lightgreen);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    width: fit-content;
}

#edit-admin-info
{
    background: var(--whiteTableCC);
    padding: 0.5rem 3rem;
    border-radius: 50px;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: 0.3s;

}
#cle-edit-admin-info
{
    margin-right: 1rem;
    background: var(--pink);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    color: var(--whiteTableCC);
    width: fit-content;
    transition: 0.3s;

}

.btns-edits{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    transition: 0.3s;

}

#cle-edit-admin-info:hover,
#edit-admin-info:hover,
#save-admin-info:hover{
    transition: 0.3s;
    transform: translateY(-2px);
}

/*////////

    add days hours

////////*/

.add-time-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add-days-hours{
    display: flex;
}
.add-days-hours div{
    display: flex;
    flex-direction: column;
    margin: 1rem 5px;
    background: var(--meddledblue);
    padding: 1rem;
}
.ttl-add-time{
    font-size: 1rem;
    margin: 1rem 0;
    font-weight: 400;
}
.add-hours-input{
    width: 60px;
    height: 60px;
    margin: 1rem 0;
    padding: 0.5rem;
    background: var(--lightblue);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--lightgreen);
    box-shadow: 0 0 3px var(--lightgreen);
    color: var(--whiteTableCC);
    font-size: 2rem;
}

#add-time{
    float: right;
    background: var(--lightgreen);
    border: none;
    color: var(--darkfont);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    transition: 0.2s;

}
#add-time:hover,
#add-time:focus{
    background: var(--darkgreen);
    transition: 0.2s;
}


/* 
////////

    Add meeting time inputs

////////

*/

.ruls-add-time{
    margin-bottom: 1rem;
}
.design_add_time_input{
    text-align: center;
    padding: 0.5rem;
    border-radius: 50px;
    border: 1px solid var(--lightgreen);
    box-shadow: 0 0 3px var(--lightgreen);
    background: var(--meddledblue);
    
    color: var(--whiteTableCC);
    transition: 0.3s;
}


/* 
//////
//////

        Queryy

//////
//////
*/


@media only screen and (max-width: 667px){
    
    
    /* menu links */

    .admin-container{
        height: auto;
    }
    .admin-panel{
        width: 95%;
        height: auto;  
        position: unset;  
    }
    .ttls-data{
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        padding-bottom: 1rem;
        margin: 1rem 0;

        border-bottom: 1px solid var(--lightblue);
    }
    .styled{
        font-size: 0.8rem;
        padding: 0.5rem;
        margin: 0 1rem 0 0;
        text-align: left;
        width: fit-content;

    }

    /*
    ///////
            data secttion 
    ///////
    */
    .data-collection{
        height: auto;
        margin-bottom: 4rem;
    }
    /* ////////// dashboard */

    .welcomeAdmin{
        width: 90%;
        margin: 2rem;
    }
    .welcomeAdmin h1{
        font-size: 1rem;
        width: 100%;
        line-height: 1.5rem;
        color: var(--white);
    }
    .infoa {
        color: var(--darkgray);
    }
    .admin-dash-btns{
        display: none;
    }


    /* ////////////   appointment */
    .allappns form{
        display: block;
    }

    /* ////////////   Change work hours */
    .add-time-container {
        align-items: stretch;
    }
    .add-time-container form{
        padding: 1rem;
    }
    .ttl-add-time{
        margin: 1rem 0;
        font-size: 1rem;
    }

    input[type='date'] {
        -webkit-appearance: none;
        -webkit-min-logical-width: calc(100% - 16px);
    }
    .add-days-hours{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;

        margin: auto;
    }
    .add-days-hours div{
        width: 100%;
        margin: auto;
    }

    .ruls-add-time{
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }
    #add-time i{
        margin-left: 1rem;
    }


    /* users */

    .alluser form{
        display: flex;
        flex-direction: column;
    }

    /* admins info */
    .alladmin{
        height: auto;
        padding: 2rem;
    }

    .alladmin h1{
        font-size: 1rem;
        width: 100%;
        line-height: 1.5rem;
        color: var(--white);
        margin-bottom: 1rem;
    }
    .addNewAdmin, .editAdminInfo{
        font-size: 0.7rem;
        margin-top: 1rem;
        width: fit-content;
    }
    .current-admin-container{
        width: 90%;
    }
    .current-admin{
        width: 100%;
    }
    .admin-infos{
        background: none;
        width: 100%;
    }
    .admin-info{
        width: 100%;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
    }

    /* search  admin */

/*     
    .searchMenu{
        position: absolute;
        top: 50%; 
        left: 50%; 
        height: 10%;
        transform: translate(-50%, -50%);
        z-index: 4;
        flex-direction: column;
        background: var(--meddleblue);
        padding: 1rem;
        display: none;
        border-radius: 5px;
        width: 95%;
        margin: auto;
    } */




    /* update admin infos */
    .update-admin-container{
        width: 90%;
    }
    .back-dash{
        
        margin: 0;
    }
}