#one-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    margin: auto;
    position: relative;
    background: var(--bgp);
}


.bg-home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    background: url(/source/iconeBGhome.svg)no-repeat;
    background-size: cover;
    background-position: center;
}
.introduce-home-content{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: auto;
}
.intro-text-home{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.texts-details-home{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
#title-home{
    font-size: 3rem;
    text-align: left;
    color: var(--whiteTableCC);

  }

.btn-details-home{
    margin-top: 1rem;
}

.availabletime{
  background: var(--darkgreen);
  padding: 12px 20px;
  font-size: 1.2rem;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
  font-weight: 500;
}
.home-target{
  font-size: 3.5rem;
  color: var(--darkgreen);
  font-weight: 700;
}
.login-home{
  background: linear-gradient(90deg, #F073C8 0%, #FF6A95 99%);
  box-shadow: 0 0 120px #FF6A95;
  padding: 12px 20px;
  font-size: 1.2rem;
  color: var(--black);
  border-radius: 5px;
  transition: 0.3s;
}
.btn-details-home a i{
  opacity: 0;
}
.btn-details-home a:hover,
.btn-details-home a:active,
.btn-details-home a:focus{
  transition: 0.3s;
  border-radius: 50px;
  text-decoration: none;
}

.btn-details-home a:hover > i{
  transition: 0.3s;
  opacity: 1;
  margin-left: 20px;
}

.texts-details-home p{
  font-weight: 500;
  color: var(--whiteTableCC);
  text-align: left;
}






/* 
///////
///////

§§§§§§§§§§§§  case show included  §§§§§§§§§§§§§§

///////
///////
*/
#case-app-cont{
  width: 100%;
  height: 70vh;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.video-intro-title{
  position: absolute;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  /* background: red; */
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.case-app-bg{
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.case-app-bg video{
  border: none;
  /* box-shadow: 0 30px 50px -22px #6c19ca33; */
  border-radius: 10px;
  outline: none;
}



/* 
section two

*/

#two-home{
    height: 50vh;
    background: var(--bgp);
}
.bg-thome{
  height: 100%;
  width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

.intro-text-thome{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.intro-img-thome{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-img-thome img{
    width: 400px;
}


/*  items  section two */


#ss{
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bg-ss{
  background: url(../../source/parts/rightSSbg.svg) no-repeat right;
  background-size: 90%;
    width: 100%;
    height: 100%;
}
.introduction-ss{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.presentation-ss {
    width: 70%;
    margin: auto;
  }
  
  
.contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 200px 0;
  }
  
.contents div {
    margin: 20px;
    padding: 25px;
  }
  
  .contents div p {
    font-size: 12px;
    color: var(--whiteTableCC);
  }
  
  .contents div h4 {
  color: var(--whiteTableCC);
    margin-bottom: 40px;
  }
  
  .fa-thumbs-up {
    color: #FF6A95;
    margin: 40px 0;
    font-size: 25px;
    border: 2px solid #FF6A95;
    padding: 15px;
    border-radius: 10px;
  }
  
  .fa-assistive-listening-systems {
    color: #FF6A95;
    margin: 40px 0;
    font-size: 25px;
    border: 2px solid #FF6A95;
    padding: 15px;
    border-radius: 10px;
    background: white;
  }
  
  .fa-bullhorn {
    color: #FF6A95;
    margin: 40px 0;
    font-size: 25px;
    border: 2px solid #FF6A95;
    padding: 15px;
    border-radius: 10px;
  }
  
  .middle-window {
    color: white;
    background: #FF6A95;
    border-radius: 5px;
    box-shadow: 0 30px 50px #f073c879;
    animation: middle-window 1s ease;
  }
  
  .middle-window .fa-long-arrow-alt-right {
    color: white;
  }
  
  .fa-long-arrow-alt-right {
    margin: 50px 0 30px 0;
  }
  
  .fa-long-arrow-alt-right:hover {
    transform: scale(1.05);
  }
  
  .copyRight{
    margin: 1rem;
    font-weight: 300;
    
  }
@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 667px){
  #one-home{
    height: 90vh;
  }
  .introduce-home-content{
    width: 90%;
    margin: auto;
  }
  .case-app-bg{
    width: 90%;
  }
  #title-home{
    font-size: 1.5rem;
    text-align: left;
  }
  .texts-details-home p{
    font-size: 0.8rem;
  }
  .btn-details-home a{
    font-size: 0.8rem;
  }
  header{
    width: 100%;
    margin: auto;
  }
  .logo-container img{
    height: 50px;
  }

  .video-intro-title{
    font-size: 1.5rem;
  }

  /* sections */
  #ss{
    height: auto;
  }
  .bg-ss{
    background-size: 100%;
  }
  .presentation-ss{
    width: 100%;
  }
  .contents{
    flex-direction: column;
  }
  .bg-thome{
    flex-direction: column-reverse;
    width: 90%;
    margin: auto;
  }
  .copyRight{
    font-size: 0.7rem;
    margin: 1rem;
    
  }
}