/* alarm info */

.imer-info{
    background: var(--meddleblue);
    position: absolute;
    border-radius: 5px;
    top: 10%;
    right: 10%;
    width: 400px;
    padding: 2rem;
    z-index: 4;
  }
  .alarm{
    width: 100%;
  }
  
  .alarm h1{
    font-weight: 600;
    color: var(--pink);
  }
  .alarm h3{
    color: var(--whiteTableCC);
    font-weight: 400;
  }
  
  .u-a-part{
    padding: 1rem;
    border-radius: 5px;
    display: flex;
  }
  
  .admin-tt, .user-tt{
    color: var(--whiteTableCC);
    font-weight: 600;
    font-size: 1.1rem;
  }
  
  .user-info{
    border-right: 2px solid rgba(23, 31, 107, 0.219);
  
  }
  
  .user-info:last-child{
    border: none;
  }
  
  .user-info{
    padding: 0.5rem;
  }
  .psw, .usw{
    color: var(--lightgreen);
  }
  
  
  
@media only screen and (max-width: 667px){

    .imer-info{
        width: 100%;
        position: absolute;
        left: 0;
        top: unset;
        bottom: 0;
        padding: 1rem;
    }
    .alarm h1,p{
      font-weight: 600;
      font-size: 0.8rem;
      color: var(--pink);
    }
    .hide-on-phone{
        display: none;
    }

    .u-a-part{
        padding: 0.2rem;
    }

    .imer-info p{
      font-size: 0.8rem;
        margin-bottom: 0;
    }


}