<div class="header-dash">
    
        <div class="headmt-4">
            <h1><i class="fas fa-home"></i><%= title %></h1>
        </div>
    <div class="head-uninfo">
        <div class="hamburger">
            <div class="lines"></div>
            <div class="lines"></div>
            <div class="lines"></div>
            <span class="setting-list">
                <li <% if (title == 'Dashboard') { %> class="active" <% } %>><a href="/dashboard" > Dashboard</a></li>
                <li <% if (title == 'table') { %>class="active" <% } %>><a href="/table" > Lediga tider</a></li>
                <li <% if (title == 'home') { %>class="active" <% } %>><a href="/" > Home</a></li>
                <li><a href="/users/logout" class="list-s" id="logoutbtn"> Loga ut</a></li>
            </span>
        </div>
    </div>
    <div id="blackscreen"></div>
    
</div>

<script src="../apps/parts/dashheader.js"></script>