<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/"><img src="/source/booker.svg" alt=""></a>
            </div>
        <div class="menu-container"><!--
            <a href="/" id="link-menu">Home</a>
            <a href="/appointment" id="link-menu">Appointment</a>
            <a href="/about" id="link-menu">About</a>
        -->
        </div>
    </header>
</body>
</html>