<div class="steps-container">
    <button class="step-one shapes" style="transform:scale(1.1);">
        <span class="range-one shape" style="background: var(--lightgreen); box-shadow: 0 0 25px white;"></span>
        <h1 class="range-text-one" style="opacity: 1;">Appointment</h1>
    </button>
    
    <button class="step-two shapes">
        <span class="range-two shape"></span>
        <h1 class="range-text-two">Information</h1>
    </button>
    
    <button class="step-three shapes">
        <span class="range-three shape"></span>
        <h1 class="range-text-three">Finish</h1>
    </button>
</div>